:root {
    --blue: #19bc9b;
    --black: #333;
    --light-color: #777;
    --border: 0.1rem solid rgba(0, 0, 0, 0.2);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
  }
  
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }
  
  section {
    padding: 2rem 7%;
  }
  
  .btn,
  .btn.btn-primary {
    background: #eeeeee none repeat scroll 0 0;
    border-radius: 33px;
    border: 0;
    color: #191919;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 23px;
    margin: 0;
    padding: 5px 28px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    vertical-align: middle;
  }
  .btn:hover,
  .btn:focus,
  .white-btn:hover,
  .white-btn:focus {
    background: #19bc9b;
    color: #fff;
    outline: 0;
  }
  
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    padding: 1.2rem 7%;
  }
  
  .header .logo {
    color: var(--black);
    font-size: 2.5rem;
    margin-right: auto;
  }
  
  .header .logo span {
    color: var(--blue);
  }
  
  .header .navbar a {
    color: var(--light-color);
    margin-right: 2rem;
    font-size: 1.7rem;
    text-transform: capitalize;
  }
  
  .header .navbar a:hover {
    color: var(--blue);
  }
  
  .header .icons i {
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    color: var(--black);
    background: #eee;
    border-radius: 50%;
    margin-left: 0.7rem;
    font-size: 1.7rem;
    cursor: pointer;
  }
  
  .header .icons i:hover {
    color: #fff;
    background: var(--blue);
  }
  
  #menu-bars {
    display: none;
  }
  
  .banner {
    min-height: 80vh;
    background: url(../images/banner.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    padding-top: 5rem;
  }
  
  .banner .content {
    text-align: center;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    padding: 3rem;
    max-width: 50rem;
  }
  
  .banner .content h3 {
    font-size: 4rem;
    color: var(--black);
    text-transform: uppercase;
  }
  
  .container {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 1.5rem;
    background: #eee;
  }
  
  .container .posts-container .post {
    width: 100%;
    padding: 2rem;
    background: #fff;
    border: var(--border);
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
  }
  
  .container .posts-container .post .image {
    height: 40rem;
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  
  .container .posts-container .post .date {
    display: inline-block;
    margin: 0 16px 0 0;
    color: var(--blue);
  }
  
  .container .posts-container .post .title {
    padding-top: 1.5rem;
    font-size: 2.5rem;
    color: var(--black);
  }
  
  .container .posts-container .post .text {
    color: var(--light-color);
    font-size: 1.6rem;
    line-height: 1.7;
    padding: 1rem 0;
  }
  
  .container .posts-container .links {
    border-top: var(--border);
    margin-top: 0.5rem;
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
  }
  
  .container .posts-container .links .user {
    margin-right: auto;
  }
  
  .container .posts-container .links .icon {
    padding-right: 1rem;
  }
  
  .container .posts-container .links a {
    font-size: 1.5rem;
    color: var(--light-color);
  }
  
  .container .posts-container .links a i {
    padding-right: 0.2rem;
    color: var(--black);
  }
  
  .container .posts-container .links a:hover {
    color: var(--blue);
  }
  
  .container .posts-container .links a:hover i {
    color: var(--blue);
  }
  
  .container .sidebar .box {
    border: var(--border);
    border-radius: 0.5rem;
    overflow: hidden;
    background: #fff;
    margin-bottom: 1.5rem;
  }
  
  .container .sidebar .box .title {
    padding: 1.5rem;
    font-size: 2rem;
    color: #fff;
    background: var(--black);
    text-transform: capitalize;
  }
  
  .container .sidebar .box .about {
    text-align: center;
    padding: 1rem 1.5rem;
  }
  
  .container .sidebar .box .about img {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem 0;
  }
  
  .container .sidebar .box .about h3 {
    color: var(--blue);
    font-size: 2rem;
  }
  
  .container .sidebar .box .about p {
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 1rem;
  }
  
  .container .sidebar .box .about .follow {
    padding: 1rem 0;
  }
  
  .container .sidebar .box .about .follow a {
    height: 4rem;
    line-height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: var(--black);
    color: #fff;
    font-size: 1.7rem;
    margin: 0 0.1rem;
  }
  
  .container .sidebar .box .about .follow a:hover {
    background: var(--blue);
  }
  
  .container .sidebar .box .category {
    padding: 1rem 1.5rem;
  }
  
  .container .sidebar .box .category a {
    padding: 0.4rem 0;
    font-size: 1.5rem;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .container .sidebar .box .category a span {
    background: var(--light-color);
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  
  .container .sidebar .box .category a:hover {
    color: var(--blue);
  }
  
  .container .sidebar .box .category a:hover span {
    background-color: var(--blue);
  }
  
  .container .sidebar .box .p-post {
    padding: 1rem 2rem;
  }
  
  .container .sidebar .box .p-post a {
    padding: 1rem 0;
    display: block;
  }
  
  .container .sidebar .box .p-post a h3 {
    color: var(--black);
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  
  .container .sidebar .box .p-post a span {
    color: var(--light-color);
    font-size: 1.5rem;
  }
  
  .container .sidebar .box .p-post a span i {
    padding-right: 0.2rem;
  }
  
  .container .sidebar .box .p-post a:hover h3 {
    color: var(--blue);
  }
  
  .container .sidebar .box .tags {
    padding: 1rem;
  }
  
  .container .sidebar .box .tags a {
    display: inline-block;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    color: var(--black);
    border-radius: 0.5rem;
    border: var(--border);
    margin: 0.5rem;
  }
  
  .container .sidebar .box .tags a:hover {
    background: var(--blue);
    color: #fff;
  }
  
  /*----------------------------------------
  Contact Form
  ------------------------------------------*/
  /*---------------------------------------------*/
  
  input {
    outline: none;
    border: none;
  }
  
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  
  
  .container-contact {
    width: 100%;  
    min-height: 70vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    background-color: transparent;
  }
  
  .wrap-contact {
    width: 700px;
    background: transparent;
    border: 1px solid #b3b3b3;
    padding: 40px 0px 20px 0px;
  }
  
  .wrap-contact-image {
    width: 600px;
    background: transparent;
    padding: 40px 0px 20px 0px;
  }
  
  .contact-form {
    width: 100%;
  }
  
  
  .wrap-input {
    width: 90%;
    background-color: #fff;
    border: 1px solid #b3b3b3;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
  }
  
  
  
  .input {
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 31px;
    color: #8f8fa1;
    line-height: 1.2;
    font-family: "Montserrat";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: none;
  }
  .send-btn{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  
  
  input.input {
    height: 62px;
    padding: 0 15px 0 15px;
  }
  
  
  textarea.input {
    min-height: 169px;
    padding: 19px 15px 0 15px;
  }
  
  
  .input:focus + .focus-input100 {
    width: calc(100% + 20px);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px;
    grid-gap: 100px;
    padding: 10px 30px 0px 30px;
  }
  
  .grid-container > div {
    padding: 20px 0;
    font-size: 10px;
  }
  
  .left-align {
      text-align: left;
  }
  
  .right-align {
      text-align: right;
  }
  
  
  
  .listing-hero {
      background: var(--blue);
      padding: 101px 0 30px;
  }
  
  .hero-heading {
      margin: 0 auto;
      width: 100%;
      max-width: 709px;
  }
  
  section#post-28 {
      padding-top: 155px;
  }
  
  .hero-large {
      display: inline-block;
      width: 40%;
      font-weight: 300;
      font-size: 56px;
      line-height: 56px;
      position: relative;
      top: -19px;
      color: #454545;
  }
  
  
  
 .btn.no-border {
      margin-top: 15px;
      margin-bottom: 6.5px;
      background-image: url(../images/Path3.png);
      background-repeat: no-repeat;
      background-size: 25px;
      display: block;
      background-position: right center;
      max-width: 99px;
  }
  
  
  
  
  /*----End----*/
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer .credit {
    text-transform: capitalize;
    font-size: 2rem;
    color: var(--black);
    padding: 1rem 0;
  }
  
  .footer .credit span {
    color: var(--blue);
  }
  
  .footer .follow {
    padding: 1rem 0;
  }
  
  .footer .follow a {
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    font-size: 1.7rem;
    background: var(--black);
    color: #fff;
    margin: 0 0.1rem;
    text-align: center;
  }
  
  .footer .follow a:hover {
    background: var(--blue);
  }
  
  /* media queries  */
  
  @media (max-width: 991px) {
    html {
      font-size: 55%;
    }
  
    .header {
      padding: 1.5rem;
    }
  
    section {
      padding: 2rem;
    }
  
    .container {
      grid-template-columns: 2fr 1fr;
    }
  }
  
  @media (max-width: 768px) {
    #menu-bars {
      display: inline-block;
    }
  
    .header .search-form {
      top: 100%;
      left: 0;
      right: 0;
      border-top: var(--border);
      width: 100%;
      border-radius: 0;
    }
  
    .header .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      border-top: var(--border);
      border-bottom: var(--border);
      background: #fff;
      display: none;
    }
  
    .header .navbar.active {
      display: block;
    }
  
    .header .navbar a {
      display: block;
      background: #f7f7f7;
      padding: 1.5rem;
      margin: 1.5rem;
      border-radius: 0.5rem;
      border: var(--border);
    }
  
    .container {
      grid-template-columns: 1fr;
      gap: 0;
    }
  
    .container .posts-container .post .image {
      height: 30rem;
    }
  
    .footer {
      flex-flow: column;
      text-align: center;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
  
    .contact form .inputBox input {
      width: 100%;
    }
  }
  
  